 #app {
   display: flex;
   align-items: end;
   height: 100vh;
   background-color: #f9f9f9;
   flex-direction: column;
 }

 button {
   background-color: #007bff;
   color: white;
   padding: 10px 20px;
   margin: 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }

 button:hover {
   background-color: #0056b3;
 }

 .product-details {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin: 20px auto;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   background-color: #f9f9f9;
   transform: translate(-150px,-800px)
 }

 img {
   max-width: 25%;
   height: auto;
   margin: 10px 0;
 }

 h1 {
   color: #333;
 }

 p {
   color: #666;
 }